################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GiveSlugCatRivuletCycles/FileContentIndex
/bin
/obj
/RivuletCyclesInAllSlugCats
/Properties
